<!-- tab panes -->

<div class="box_highlight" style="margin-top:40px"><h2 style="text-align:center">Web Developer. Problem Solver. Ruby on Rails Expert.</h2></div>

<div style="clear:both"></div>

<div class="heading_bg">
  <h2>Welcome to My Blog</h2>
  <p> Hello my name is Andre' Smith and I make awesome web applications. </p>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ipsum, egestas ac cursus et, elementum et dolor. Etiam sem nisi, ullamcorper nec faucibus nec, elementum non odio. Curabitur bibendum ut nunc et pulvinar. Integer condimentum ullamcorper magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ut leo enim. Nullam non nisl augue. Nam non odio condimentum, ultricies mauris eu, accumsan quam. Mauris dapibus, massa vel pulvinar aliquet, arcu diam aliquet justo, sed condimentum orci enim sit amet odio. Maecenas in turpis mattis, euismod mauris ac, iaculis mi. Curabitur sagittis leo id purus placerat dictum. Curabitur a enim justo. Quisque velit lacus, pretium in libero eget, aliquet pretium lacus. Duis dapibus justo arcu, ac pellentesque augue bibendum nec.

Praesent luctus porta rutrum. Fusce tellus velit, pulvinar nec nulla in, scelerisque laoreet sapien. Vivamus aliquet ligula dui, ac sagittis metus adipiscing a. Aliquam non porta nibh. Proin suscipit, mi a consectetur tempus, ligula nisi vestibulum purus, id dapibus magna urna vitae augue. Nam hendrerit augue mi, quis sagittis mauris pulvinar ut. Suspendisse tristique ut mauris nec faucibus. Nam dignissim metus felis, vitae malesuada libero gravida non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas fringilla laoreet pretium. Ut fringilla, dolor eget ultrices hendrerit, sem nunc varius elit, nec mattis lectus nisi et metus. In suscipit libero ligula, a rutrum purus scelerisque vitae. Ut venenatis feugiat blandit. Morbi at lacus ac mi egestas lacinia.</p>
</div>

<h1>Recent posts</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if current_user %>
    <% if PostPolicy.new(current_user, @post) %>
      <%= link_to 'New Post', new_post_path, class: "button radius" %>
    <% end %>
  <% end %>

<div style="clear:both"></div>
