<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Andre 'Hobogrammer' Smith\'s Portfolio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="header">

      <div id="site_title" class="circular"></div>

    <!-- Main Menu -->

      <ol id="menu">
           <li class="active_menu_item"><a href="index.html">Home</a>

            <li><a href="#">Portfolio</a>

             <li><a href="contact.html">Contact</a></li>
      </ol>
    </div><!-- END header -->


    <%= yield %>


    <div id="footer">

    <!-- First Column -->

        <div class="one-fourth">
            <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="http://github.com/Hobogrammer">Github</a></li>
                <li><a href="http://twitter.com/Hobogrammer">Twitter</a></li>
                <li><a href="http://www.linkedin.com/in/andrepsmith">LinkedIn</a></li>
            </ul>
        </div>

        <div style="clear:both"></div>

    </div> <!-- END footer -->
  </body>
</html>
